/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

*/*{
    margin: 0px;
    padding: 0px;

}
#todoSite {
    background-color: #f7f5e6;
    width: 1200px;
    height: 600px;
    margin: auto;

}

#esquerda{
    background-color: #f7f5e6;
    float: left;
    width: 250px;
    height: 600px;
}
#cabecalho{
    background-color: #f0b918; /* amarelo */
    width: 250px;
    height: 120px;
    font-family: good vibes, impact, arial;
    font-size: 40px;
    text-align: center;
    color: #155264;
}

#menu{
    background-color: #155264; /* azul escuro */
    width: 250px;
    height: 480px;
    color: #fff;
}

#bt1 {
    background-color: #f7f5e6; 
    border: none;
    padding: 5px 49px;
    margin: 10px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: #82aa88;
    font-family: Candara;
    cursor: pointer;
}

#bt1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#bt2 {
    background-color: #f7f5e6; 
    border: none;
    padding: 5px 85px;
    margin: 10px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: #82aa88;
    font-family: Candara;
    cursor: pointer;
}

#bt2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#bt3 {
    background-color: #f7f5e6; 
    border: none;
    padding: 5px 79.5px;
    margin: 10px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: #82aa88;
    font-family: Candara;
    cursor: pointer;
}

#bt3:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#bt4 {
    background-color: #f7f5e6; 
    border: none;
    padding: 5px 83px;
    margin: 10px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: #82aa88;
    font-family: Candara;
    cursor: pointer;
}

#bt4:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


















